<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_NutritionInfo>
            <version>1.0.0.1</version>
        </MageProfis_NutritionInfo>
        <translations>
            <active>true</active>
            <codepool>local</codepool>
        </translations>
    </modules>
    <global>
        <blocks>
            <nutritioninfo>
                <class>MageProfis_NutritionInfo_Block</class>
            </nutritioninfo>
        </blocks>
        <helpers>
            <nutritioninfo>
                <class>MageProfis_NutritionInfo_Helper</class>
            </nutritioninfo>
        </helpers>
        <models>
            <nutritioninfo>
                <class>MageProfis_NutritionInfo_Model</class>
            </nutritioninfo>
        </models>
        <resources>
            <nutritioninfo_setup>
                <setup>
                    <module>MageProfis_NutritionInfo</module>
                    <class>MageProfis_NutritionInfo_Model_Resource_Setup</class>
                </setup>
            </nutritioninfo_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <nutritioninfo>
                    <file>mageprofis-nutritioninfo.xml</file>
                </nutritioninfo>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nutritioninfo>
                                            <title>NutritionInfo</title>
                                        </nutritioninfo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
       <translate>
           <modules>
               <translations>
                   <files>
                       <default>MageProfis_NutritionInfo.csv</default>
                   </files>
               </translations>
           </modules>
       </translate>
    </adminhtml>
</config>
